<div id="homes_index" class="container">
  <%= render 'shared/flash_messages' %>
  <h1>idimo</h1>
  <h2>〇〇好きならきっとイイ人</h2>
  <%= image_tag asset_path('animals.png'), class:"img-fluid img-center" %>
  <p>不要な身バレを防ぐマッチングアプリです。</p>
  <p>ユーザがプロフィール画像を公開している場合、相互フォロー時に閲覧することができます。</p>
  <%= image_tag asset_path('padlock.png'), class:"img-fluid img-center-small" %>
  <p>好きな動物を共有してマッチングしましょう。</p>
</div>