// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homes_index{
  h1{
    text-align:center;
  }
}

#homes_index{
  h2{
    text-align:center;
  }
}

#homes_index{
  p{
    text-align:center;
  }
}

#homes_index{
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 10px;
  }
}

#homes_index{
  .img-center-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
  }
}
