// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homes_index{
  h2{
    border-left: solid 5px #007bff;
    padding-left: 10px;
  }
}

#homes_index{
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 10px;
  }
}
