// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users{
  h1{
    color:white;
    background:#007bff;
    text-align:center;
  }
  h2{
    border-left: solid 5px #007bff;
    padding-left:10px;
  }
}